Made changes.

In [2]:
import pandas as pd
import sqlite3

In [3]:
# 1Ô∏è‚É£ Leer el archivo CSV
csv_file = "healthcare_dataset.csv"  # Ruta del archivo CSV
df = pd.read_csv(csv_file)

In [4]:
# Mostrar las primeras filas del archivo CSV
print("üìå Primeras filas del archivo CSV:")
print(df.head())

üìå Primeras filas del archivo CSV:
            Name  Age  Gender Blood Type Medical Condition Date of Admission  \
0  Bobby JacksOn   30    Male         B-            Cancer        2024-01-31
1   LesLie TErRy   62    Male         A+           Obesity        2019-08-20
2    DaNnY sMitH   76  Female         A-           Obesity        2022-09-22
3   andrEw waTtS   28  Female         O+          Diabetes        2020-11-18
4  adrIENNE bEll   43  Female        AB+            Cancer        2022-09-19

             Doctor                    Hospital Insurance Provider  \
0     Matthew Smith             Sons and Miller         Blue Cross
1   Samantha Davies                     Kim Inc           Medicare
2  Tiffany Mitchell                    Cook PLC              Aetna
3       Kevin Wells  Hernandez Rogers and Vang,           Medicare
4    Kathleen Hanna                 White-White              Aetna

   Billing Amount  Room Number Admission Type Discharge Date   Medication  \
0    18856.281306          328         Urgent     2024-02-02  Paracetamol
1    33643.327287          265      Emergency     2019-08-26    Ibuprofen
2    27955.096079          205      Emergency     2022-10-07      Aspirin
3    37909.782410          450       Elective     2020-12-18    Ibuprofen
4    14238.317814          458         Urgent     2022-10-09   Penicillin

   Test Results
0        Normal
1  Inconclusive
2        Normal
3      Abnormal
4      Abnormal

In [5]:
# 2Ô∏è‚É£ Crear una base de datos SQLite en memoria (no se guarda en disco)
conn = sqlite3.connect(":memory:")

In [6]:
# 3Ô∏è‚É£ Cargar los datos en la base de datos en memoria
table_name = "healthcare_data"  # Nombre de la tabla temporal
df.to_sql(table_name, conn, if_exists="replace", index=False)

55500

In [7]:

# 4Ô∏è‚É£ Realizar consultas SQL directamente en los datos cargados
query = f"SELECT * FROM {table_name} LIMIT 5;"  # Consulta SQL de ejemplo
df_sql = pd.read_sql(query, conn)

# Mostrar el resultado de la consulta
print("üìå Resultado de la consulta SQL:")
print(df_sql)

üìå Resultado de la consulta SQL:
            Name  Age  Gender Blood Type Medical Condition Date of Admission  \
0  Bobby JacksOn   30    Male         B-            Cancer        2024-01-31
1   LesLie TErRy   62    Male         A+           Obesity        2019-08-20
2    DaNnY sMitH   76  Female         A-           Obesity        2022-09-22
3   andrEw waTtS   28  Female         O+          Diabetes        2020-11-18
4  adrIENNE bEll   43  Female        AB+            Cancer        2022-09-19

             Doctor                    Hospital Insurance Provider  \
0     Matthew Smith             Sons and Miller         Blue Cross
1   Samantha Davies                     Kim Inc           Medicare
2  Tiffany Mitchell                    Cook PLC              Aetna
3       Kevin Wells  Hernandez Rogers and Vang,           Medicare
4    Kathleen Hanna                 White-White              Aetna

   Billing Amount  Room Number Admission Type Discharge Date   Medication  \
0    18856.281306          328         Urgent     2024-02-02  Paracetamol
1    33643.327287          265      Emergency     2019-08-26    Ibuprofen
2    27955.096079          205      Emergency     2022-10-07      Aspirin
3    37909.782410          450       Elective     2020-12-18    Ibuprofen
4    14238.317814          458         Urgent     2022-10-09   Penicillin

   Test Results
0        Normal
1  Inconclusive
2        Normal
3      Abnormal
4      Abnormal

In [8]:
# Renombrar la columna "Billing Amount" a "Billing_Amount"
df.rename(columns={"Billing Amount": "Billing_Amount"}, inplace=True)

# Verificar que el cambio se aplic√≥

print(df.head())

            Name  Age  Gender Blood Type Medical Condition Date of Admission  \
0  Bobby JacksOn   30    Male         B-            Cancer        2024-01-31
1   LesLie TErRy   62    Male         A+           Obesity        2019-08-20
2    DaNnY sMitH   76  Female         A-           Obesity        2022-09-22
3   andrEw waTtS   28  Female         O+          Diabetes        2020-11-18
4  adrIENNE bEll   43  Female        AB+            Cancer        2022-09-19

             Doctor                    Hospital Insurance Provider  \
0     Matthew Smith             Sons and Miller         Blue Cross
1   Samantha Davies                     Kim Inc           Medicare
2  Tiffany Mitchell                    Cook PLC              Aetna
3       Kevin Wells  Hernandez Rogers and Vang,           Medicare
4    Kathleen Hanna                 White-White              Aetna

   Billing_Amount  Room Number Admission Type Discharge Date   Medication  \
0    18856.281306          328         Urgent     2024-02-02  Paracetamol
1    33643.327287          265      Emergency     2019-08-26    Ibuprofen
2    27955.096079          205      Emergency     2022-10-07      Aspirin
3    37909.782410          450       Elective     2020-12-18    Ibuprofen
4    14238.317814          458         Urgent     2022-10-09   Penicillin

   Test Results
0        Normal
1  Inconclusive
2        Normal
3      Abnormal
4      Abnormal

In [15]:
df.rename(columns=lambda x: x.strip().replace(" ", "_"), inplace=True)  # Reemplaza espacios por guiones bajos
print(df.columns)  # Verifica que el cambio se aplic√≥

Index(['Name', 'Age', 'Gender', 'Blood_Type', 'Medical_Condition',
       'Date_of_Admission', 'Doctor', 'Hospital', 'Insurance_Provider',
       'Billing_Amount', 'Room_Number', 'Admission_Type', 'Discharge_Date',
       'Medication', 'Test_Results'],
      dtype='object')

In [16]:
conn = sqlite3.connect(":memory:")  # Base de datos en memoria (temporal)
df.to_sql("healthcare_data", conn, if_exists="replace", index=False)  # Sobreescribe la tabla

# Verificar que las columnas en SQLite se guardaron correctamente
query = "PRAGMA table_info(healthcare_data);"  
df_columns = pd.read_sql(query, conn)
print("üìå Columnas en SQLite despu√©s de renombrar:")
print(df_columns)

üìå Columnas en SQLite despu√©s de renombrar:
    cid                name     type  notnull dflt_value  pk
0     0                Name     TEXT        0       None   0
1     1                 Age  INTEGER        0       None   0
2     2              Gender     TEXT        0       None   0
3     3          Blood_Type     TEXT        0       None   0
4     4   Medical_Condition     TEXT        0       None   0
5     5   Date_of_Admission     TEXT        0       None   0
6     6              Doctor     TEXT        0       None   0
7     7            Hospital     TEXT        0       None   0
8     8  Insurance_Provider     TEXT        0       None   0
9     9      Billing_Amount     REAL        0       None   0
10   10         Room_Number  INTEGER        0       None   0
11   11      Admission_Type     TEXT        0       None   0
12   12      Discharge_Date     TEXT        0       None   0
13   13          Medication     TEXT        0       None   0
14   14        Test_Results     TEXT        0       None   0

In [20]:
# 4Ô∏è‚É£ Realizar consultas SQL directamente en los datos cargados
# Retrieve the details of all patients diagnosed with Cancer Disease.
query = f"SELECT Name, Age, Gender, Medication, Doctor, Billing_Amount FROM {table_name} WHERE Medical_Condition = 'Cancer';"  # Consulta SQL de ejemplo
df_sql = pd.read_sql(query, conn)

# Mostrar el resultado de la consulta
print("üìå Resultado de la consulta SQL:")
print(df_sql)

üìå Resultado de la consulta SQL:
                    Name  Age  Gender   Medication            Doctor  \
0          Bobby JacksOn   30    Male  Paracetamol     Matthew Smith
1          adrIENNE bEll   43  Female   Penicillin    Kathleen Hanna
2     CHrisTInA MARtinez   20  Female  Paracetamol    Suzanne Thomas
3       ChRISTopher BerG   58  Female  Paracetamol       Heather Day
4       mIchElLe daniELs   72    Male  Paracetamol       John Duncan
...                  ...  ...     ...          ...               ...
9222      tIFfANy miller   78    Male    Ibuprofen      Jaime Valdez
9223        DEBRa MIller   17    Male    Ibuprofen  Samantha Russell
9224    mIcHAeL SanTiAgo   58  Female    Ibuprofen     Andrea Fields
9225     keNNEtH alvarez   80    Male      Aspirin     Andrew Conner
9226    STepHAniE oliVer   82    Male   Penicillin      Gary Leblanc

      Billing_Amount
0       18856.281306
1       14238.317814
2       45820.462722
3       19784.631062
4       12576.795609
...              ...
9222    17217.325440
9223    43230.028453
9224    45767.175201
9225    45653.802310
9226    17350.543524

[9227 rows x 6 columns]

In [ ]:
# 5Ô∏è‚É£ Cerrar la conexi√≥n cuando ya no se necesite
conn.close()